<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Timeline</title>
    <link rel="stylesheet" href="../public/css.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <h1 class="title">The Timeline</h1>
      <div class="posts">
        <% posts.forEach(function(post) { %>
        <div class="postEl">
          <h2><%= post.name %></h2>
          <p><strong>Date:</strong> <%= post.createdAt %></p>
          <p><strong>Message:</strong> <%= post.message %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>